body{
    background-color: rgb(56,103,214);
    text-align: start;
}

.container{
  display: flex;
  justify-content: space-between;
  width: 1280px;
  text-align: start;
  margin-left: -50px;
  column-gap: 3vw;
}

.input-text{
    width: 44vw;
    height: 60vh;
    background-color:rgb(56,103,214);
    padding-left: 1vw;
    padding-top: 2.1vh;
    border: none;
    border: 2px solid rgb(70,70,70);
    font-size: 20px;
    border-radius: 5px;
}

.output-text{
    width: 35vw;
    height: 70vh;
    background-color:rgb(70,70,70);
    padding-left: 1vw;
    padding-top: 2.1vh;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 5px 6px 15px 3px rgb(61, 61, 61);
    word-wrap: break-word;
}